@use "sass:math";

// <НАСТРОЙКИ> ===============================================================================================================================================================================================================================================================================================
$fontFamily: "VR";
$fontSize: 16;
$mainColor: var(--color-text);
$maxWidthContainer: 1520px;
@import "base/base";
// </НАСТРОЙКИ> ===============================================================================================================================================================================================================================================================================================

body {

  font-size: $fontSize + px;
  line-height: math.div(24, $fontSize);
  font-family: $fontFamily, sans-serif;

  // Скролл заблокирован
  &._lock {
    overflow: hidden;
    touch-action: none;
  }

  @include lg {
    font-size: 14px;
    line-height: 20px;
  }
}

html {
  scroll-behavior: smooth;
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  width: 100%;

  >main {
    overflow: hidden;
  }

  // Фикс для слайдеров
  >* {
    min-width: 0;
  }
}

//<ОСНОВНАЯ СЕТКА>============================================================================================================================
.container {
  max-width: $maxWidthContainer;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  // @include xl {
  //     max-width: 1532px;
  // }
  // @include lg {
  //     max-width: 1224px;
  // }
  // @include lgFix {
  //     max-width: none;
  //     padding-left: 36px;
  //     padding-right: 36px;
  // }
  // @include md990 {
  //     padding-left: 59px;
  //     padding-right: 59px;
  // }
  // @include md800 {
  //     padding-left: 36px;
  //     padding-right: 36px;
  // }
  // @include fix720 {
  //     padding-left: 56px;
  //     padding-right: 56px;
  // }
  // @include vm {
  //     padding-left: 20px;
  //     padding-right: 20px;
  // }
}

.swiper-wrapper {
  display: flex;
}

//</ОСНОВНАЯ СЕТКА>============================================================================================================================

// Компоненты
@import "../components/header/header";
@import "../components/footer/footer";
// @import "../components/tabs/tabs";

// Подключение стилей отдельных страниц
@import "./pages/main";